@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

/* .more-text {
    display: none;  Hide additional text by default 
}
.expanded .more-text {
    display: inline; } Show additional text when expanded */


.collapsed {
    display: none; /* or any other method to hide text */
}

.expanded {
    display: block; /* or any other method to show text */
}

html{
    font-size: 62.5%;
}


.home{
    /* width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: white;
    color: navy;*/
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   /* color: navy;*/
}



.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}




.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}




.btn{
    display: inline-block;
    padding: 1rem 1rem;
    background-color: white;
    border-radius: 4rem;
    font-size: 1.4rem;
    color: navy;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #777;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #777;
    color: black;
    box-shadow: 0 0 25px #777;
}


   /* 
   
   
   .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .typing-text{
        font-size: 34px;
        font-weight: 600;
        min-width: 280px;
    }
    
    .typing-text span{
        position: relative;
    }
    
    /*.typing-text span::before{
        content: "software Developer";
        color: #b74b4b;
        animation: words 20s infinite;
    }*/
    

    /*
    .typing-text span::after{
        content: "";
        /*background-color: black;
        position: absolute;
        width: calc(100% + 8px);
        height: 100%;
        /*border-left: 3px solid black;
        right: -8;
        animation: cursor 0.6s infinite;
    }
    
    .typing-text{
        font-size: 34px;
        font-weight: 600;
        min-width: 280px;
    }
    
    .typing-text span{
        position: relative;
    }
    
    .typing-text span::before{
        content: "Hello,";
        color: navy;
        animation: words 20s infinite;
    }
    
    .typing-text span::after{
        content: "";
        /*background-color: black;
        position: absolute;
        width: calc(100% + 8px);
        height: 100%;
        /*border-left: 3px solid black;
        right: -8;
        animation: cursor 0.6s infinite;
    }
    
    @keyframes cursor{
        to{
            border-left: 3px solid navy;
        }
    }
    
    @keyframes words{
        /*0%, 20%{
            content: "Hello,";
        }
        21%, 40%{
            content: "Welcome To Doroob!";
        }
        41%, 60%{
            content: "About Us";
        }
        
    } 
    
    */
