Flask==2.2.2
flask-cors==3.1.1
opencv-python==4.5.5
mysql-connector-python==8.0.28
deepface==0.0.93
numpy==1.23.1
pandas==1.4.2
pymysql==1.0.2
geopy==2.2.0
recommenders==0.0.1
scikit-learn==1.0.2
lightfm==1.16.0
scipy==1.7.3
