

.personal-info-container {
    background-color: white;
    max-width: 600px;
    margin: 10px auto;
    padding: 20px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h2 {
    margin: 0;
    color: #333;
}

.edit-btn, .save-btn {
    padding: 8px 14px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #325070;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 20px;
    right: 20px;
}

.save-btn {
    background-color: #325070;
}

.edit-btn:hover, .save-btn:hover {
    background-color: #7b828a;
}

.save-btn:hover {
    background-color:  #7b828a;
}

.info-group {
    margin-bottom: 15px;
}

.info-group label {
    font-size: 16px;
    color: #555;
    display: block;
    
    margin-bottom: 5px;
}

.info-group input {
    width: 95%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color:#f0f0f0;
    transition: background-color 0.3s ease;
}

.info-group input:focus {
    background-color: #fff;
    border-color: #007BFF;
}

.info-group input[readonly] {
    background-color: #f0f0f0;
}

.reset-password-link {
    color: #555;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
}

.reset-password-link i {
    margin-left: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.reset-password-link:hover i {
    margin-left: 10px;
}