.Maincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1 {
    width: 80%;
    margin-top: 40px;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px; ;
    overflow: hidden;
}

.title1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 40px;
    background-color:#506984;
    border-bottom: 1px solid #e0e0e0;
    color: rgb(255, 255, 255);
}

.profile-wrapper1 {
    display: flex;
    min-height: 500px;
}

.sidebar1 {
    width: 25%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-right: 1px solid #e0e0e0;
}

.sidebar1 button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  font-weight: var(--font-medium);
}

.sidebar1 button:hover {
    background-color: #23374d;
    color: white;
  font-weight: var(--font-medium);
}

.content1 {
    width: 75%;
    padding: 20px;
}

.iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  --first-color: hsl(242, 35%, 19%); /* Light green */
  --text-color: hsl(30, 20%, 30%); /* Brown */
            --text-color-light: hsl(215, 20%, 40%); /* Lighter brown */
            --body-color: hsl(30, 20%, 95%); /* Very light brown */
            --container-color: #fff; /* White */
            --border-color: hsl(30, 20%, 90%); /* Very light brown border */


  /*========== Font and typography ==========*/
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-bold: 700;

  /*========== Margenes Bottom ==========*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
 
  --z-fixed: 100;
}
.nav__logo-img {
  width: 35px; 
  height: auto;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem; /* Space between the image and the text */
}
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  text-align: left;
}

body {
  margin: 0;
  color: var(--text-color);
  /*For animation dark mode*/
  transition: .4s;
}
